body{
  margin-left:0;
  background-color:#730e40;
}
#mainWheel{
  max-width:59vw;
  height:29.5vw;
  position:relative;
  overflow:hidden;
  margin:0 auto;
  border-radius:90vw 90vw 0 0;
  z-index:-1;
  top:7.5vw;
  left:.25vw;
  box-sizing:content-box;
}
#semicircle_view{
  opacity:1;
  content:"";
  background:url(../img/semicircle_view.png) center center/contain no-repeat;
  z-index:20;
  transition:transform 2s cubic-bezier(.4,0,1,1);
}
#semicircle_view.revealed{
  transform:rotate(180deg);
}
#semicircle_view.closed{
  transform:rotate(0);
  transition:transform 1s cubic-bezier(0.4,0,1,1);
}
#semicircle_view.wheelPeek{
  opacity:0;
}
#pointer,#wheelMarker,#semicircle_view{
  transform:rotate(0);
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:200%;
}
#pointer{
  content:"";
  background:url(../img/pointer.png) center center no-repeat!important;
  z-index:50;
}
#wheelMarker{
  content:"";
  background:url(../img/hidden_value.png) center center/cover no-repeat;
  z-index:-99;
}
button{
  padding:15px;
}
#cards{
  width:35.5%;
  display:table;
  margin:0 auto;
  position:relative;
  top:41vw;
  z-index:99;
}
#cards div{
  width:50%;
  height:12vw;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  padding:.75vw 5vw 0;
  font-size:1.5vw;
  line-height:2vw;
}
#leftCard{
  border-radius:0px 0 0 0px;
  transform:rotate(0deg);
  color: white;
}
#rightCard{
  border-radius:0 15px 15px 0;
  transform:rotate(0deg);
  color: white;
}
.incrementBtn{
  padding:0;
  cursor:pointer;
}
#scoring div{
  position:absolute;
  text-align:center;
  width:5vw
}
#scoring span{
  font-weight:700;
  font-family: 'Merienda', cursive;
  font-size:4vw;
  color:#9c0aa1;
}
.scoreButtons{
  display:block;
}
.scoreButtons button{
  width:2vw;
  height:2vw;
  background-size:contain!important;
  border:transparent;
}
.scoreButtons button:focus{outline:0;}
button.scoreDown{
  background:url(../img/small_minus.png) center center no-repeat
}
button.scoreUp{
  background:url(../img/small_plus.png) center center no-repeat
}
#scoringLeft{
  left:10vw;
  top:10vw;
}
#scoringRight{
  right:10vw;
  top:10vw;
}
#size{
  background:url(../img/background.png) top center/100% no-repeat;
  width:100vw;
  height:60vw;
  position:absolute;
  top:0;
  bottom:0;
  font-family:Oswald,sans-serif;
  transform-origin:top center;
}
#controls{
  position:absolute;
  top:37vw;
  left:0;
  right:0;

}
#controls button{border:0;
  text-indent:-9999px;
  cursor:pointer;
  position:absolute;
}
#controls button:focus{outline:0;}
button#spinWheel{
  background:url(../img/Spin.png) top left/contain no-repeat;
  width:7.05vw;
  height:5.16vw;
  left:16vw;
  top:.75vw;
}
button#peekWheel{
  background:url(../img/Peek.png) top left/contain no-repeat;
  width:7.05vw;
  height:4.16vw;
  left:30vw;
  top:.75vw;
}
button#newCard{
  background:url(../img/NewCards.png) top left/contain no-repeat;
  width:7.15vw;
  height:4.16vw;
  right:30vw;
  top:.75vw;
}
button#reveal{
  background:url(../img/Reveal.png) top left/contain no-repeat;
  width:7.15vw;
  height:3.90vw;
  right:16vw;
  top:.75vw;
}
#Btn{
  width:14vw;
  left:50%;
  position:absolute;
  margin:.2vw auto;
  transform:translate(-50%,0);
  text-align:center;
}
button#centerDial{
  display:inline-block;
  margin:-100px auto 0;
  position:relative;
  width:6vw;
  height:6vw;
  background-color:transparent;
}
button#downTen{
  background:url(../img/big_minus.png) center center/contain no-repeat;
  width:2.5vw;
  height:2.5vw;
  left:1.6vw;
  top:1.2vw;
}
button#downOne{
  background:url(../img/small_minus.png) center center/contain no-repeat;
  width:1.5vw;
  height:1.5vw;
  left:0;
  top:.5vw;
}
button#upOne{
  background:url(../img/small_plus.png) center center/contain no-repeat;
  width:1.5vw;
  height:1.5vw;
  right:0;
  top:.5vw;
}
button#upTen{
  background:url(../img/big_plus.png) center center/contain no-repeat;
  width:2.5vw;
  height:2.5vw;
  right:1.6vw;
  top:1.2vw;
}
#howToPlay{
  text-align: center;
  color: red;
  padding: 20px;
  font-size: 24px;
}
